.git
.github
.gitignore
.vscode
.idea
*.md
vendor
node_modules
.env
.env.*
!.env.example
docker-compose.yml
docker-compose.override.yml
Dockerfile
.docker
tests
.phpunit.cache
storage/*.key
composer.lock
railway/
helm/
